<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:kitt3nForm="http://typo3.org/ns/KITT3N/Kitt3nForm/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <div class="form-group">

        <f:if condition="{v:condition.type.isArray(then: 1, value: '{val.vars.data}')} == 1">
            <f:then>
                <v:variable.set name="checkedValues" value="{v:iterator.implode(content: '{val.vars.data}', glue: ',')}" />
            </f:then>
            <f:else>
                <v:variable.set name="checkedValues" value="{val.vars.data}" />
            </f:else>
        </f:if>

        <legend class="label_checkboxes" for="{val.vars.id}">{val.vars.label -> f:format.raw()}</legend>

        <f:for each="{val.vars.choices}" as="checkBox" key="i">
            <div class="form-check">

                <v:condition.string.contains haystack="{checkedValues}" needle="{checkBox.value}">
                    <f:then>
                        <kitt3nForm:form.checkboxWithoutHiddenInputField name="{val.vars.name}[]" value="{checkBox.value}" checked="1" id="checkbox-{val.vars.name}-{i}" class="form-check-input" />
                        <label class="form-check-label" for="checkbox-{val.vars.name}-{i}">{checkBox.label -> f:format.raw()}</label>
                    </f:then>
                    <f:else>
                        <kitt3nForm:form.checkboxWithoutHiddenInputField name="{val.vars.name}[]" value="{checkBox.value}" id="checkbox-{val.vars.name}-{i}" class="form-check-input" />
                        <label class="form-check-label" for="checkbox-{val.vars.name}-{i}">{checkBox.label -> f:format.raw()}</label>
                    </f:else>
                </v:condition.string.contains>

            </div>
        </f:for>

        <f:render partial="Render/Fields/Attributes/Help" arguments="{val: val}" />

        <v:security.allow anyBackendUser="TRUE">
            <span style="position: absolute;top: 5px;right: 0px;">
                <span class="badge badge-info">session: '{val.vars.attr.session}'</span>
            </span>
        </v:security.allow>

    </div>

</html>
