<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <div class="form-group">

        <f:for each="{val.vars.choices}" as="radioButton" key="i">
            <div class="form-check">
                <f:if condition="{val.vars.data} == {radioButton.value}">
                    <f:then>
                        <f:form.radio name="{val.vars.name}" value="{radioButton.value}" checked="1" id="radio-{val.vars.name}-{i}" class="form-radio-input" />
                        <label class="form-check-label" for="radio-{val.vars.name}-{i}">{radioButton.label -> f:format.raw()}</label>
                    </f:then>
                    <f:else>
                        <f:form.radio name="{val.vars.name}" value="{radioButton.value}" id="radio-{val.vars.name}-{i}" class="form-radio-input" />
                        <label class="form-check-label" for="radio-{val.vars.name}-{i}">{radioButton.label -> f:format.raw()}</label>
                    </f:else>
                </f:if>
            </div>
        </f:for>

        <f:render partial="Render/Fields/Attributes/Help" arguments="{val: val}" />

        <v:security.allow anyBackendUser="TRUE">
            <span style="position: absolute;top: 5px;right: 0px;">
                <span class="badge badge-info">session: '{val.vars.attr.session}'</span>
            </span>
        </v:security.allow>

    </div>

</html>
