<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:kitt3nForm="http://typo3.org/ns/KITT3N/Kitt3nForm/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <div class="form-group">
        <label for="{val.vars.id}">{val.vars.label -> f:format.raw()}</label>
        <f:form.select name="{val.vars.name}" id="{val.vars.id}" class="form-control"><!-- prependOptionValue="" prependOptionLabel="---" -->
            <f:for each="{val.vars.choices}" as="optiongroupOrOption" key="i">
                <f:if condition="{optiongroupOrOption.choices}">
                    <f:then>
                        <f:form.select.optgroup label="{optiongroupOrOption.label -> f:format.raw()}">
                            <f:for each="{optiongroupOrOption.choices}" as="option" key="ii">
                                <f:if condition="{val.vars.data} == {option.value}">
                                    <f:then>
                                        <kitt3nForm:form.select.optionWithEmptyValue value="{option.value}" selected="selected">{option.label -> f:format.raw()}</kitt3nForm:form.select.optionWithEmptyValue>
                                    </f:then>
                                    <f:else>
                                        <kitt3nForm:form.select.optionWithEmptyValue value="{option.value}">{option.label -> f:format.raw()}</kitt3nForm:form.select.optionWithEmptyValue>
                                    </f:else>
                                </f:if>
                            </f:for>
                        </f:form.select.optgroup>
                    </f:then>
                    <f:else>
                        <f:if condition="{val.vars.data} == {optiongroupOrOption.value}">
                            <f:then>
                                <kitt3nForm:form.select.optionWithEmptyValue value="{optiongroupOrOption.value}" selected="selected">{optiongroupOrOption.label -> f:format.raw()}</kitt3nForm:form.select.optionWithEmptyValue>
                            </f:then>
                            <f:else>
                                <kitt3nForm:form.select.optionWithEmptyValue value="{optiongroupOrOption.value}">{optiongroupOrOption.label -> f:format.raw()}</kitt3nForm:form.select.optionWithEmptyValue>
                            </f:else>
                        </f:if>

                    </f:else>
                </f:if>
            </f:for>
        </f:form.select>
        <f:render partial="Render/Fields/Attributes/Help" arguments="{val: val}" />

        <v:security.allow anyBackendUser="TRUE">
            <span style="position: absolute;top: 5px;right: 0px;">
                <span class="badge badge-info">session: '{val.vars.attr.session}'</span>
            </span>
        </v:security.allow>

    </div>

</html>
