<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <div class="form-group">
        <label for="{val.vars.id}">{val.vars.label -> f:format.raw()}</label>
        <div class="input-group">
            <f:render partial="Render/Fields/Attributes/InputGroupAddon" arguments="{type: type}" />
            <f:if condition="{type} == 'readonly'">
                <f:then>
                    <f:form.textfield type="{type}" id="{val.vars.id}" class="form-control" name="{val.vars.name}" value="{val.vars.attr.value}" placeholder="{val.vars.attr.value -> f:format.stripTags()}" readonly="readonly" />
                    <v:security.allow anyBackendUser="TRUE">
                        <span style="position: absolute;top:-25px;right: 0px;">
                            <span class="badge badge-info">session: '{val.vars.attr.session}'</span>
                        </span>
                    </v:security.allow>
                </f:then>
                <f:else>
                    <f:form.textfield type="{type}" id="{val.vars.id}" class="form-control" name="{val.vars.name}" value="{val.vars.value}" placeholder="{val.vars.attr.placeholder -> f:format.stripTags()}" />
                    <f:if condition="{val.vars.required} == '1'">
                        <f:then>
                            <f:if condition="{type} == 'email'">
                                <f:then>
                                    <v:security.allow anyBackendUser="TRUE">
                                        <span style="position: absolute;top:-25px;right: 0px;">
                                            <span class="badge badge-info">session: '{val.vars.attr.session}'</span>
                                            <span class="badge badge-dark">{val.vars.name}</span>
                                        </span>
                                    </v:security.allow>
                                </f:then>
                                <f:else>
                                    <v:security.allow anyBackendUser="TRUE">
                                        <span style="position: absolute;top:-25px;right: 0px;">
                                            <span class="badge badge-info">session: '{val.vars.attr.session}'</span>
                                            <span class="badge badge-light">{val.vars.name}</span>
                                        </span>
                                    </v:security.allow>
                                </f:else>
                            </f:if>
                        </f:then>
                        <f:else>
                            <f:if condition="{type} == 'email'">
                                <f:then>
                                    <v:security.allow anyBackendUser="TRUE">
                                        <span style="position: absolute;top:-25px;right: 0px;">
                                            <span class="badge badge-info">session: '{val.vars.attr.session}'</span>
                                        </span>
                                    </v:security.allow>
                                </f:then>
                                <f:else>
                                    <v:security.allow anyBackendUser="TRUE">
                                        <span style="position: absolute;top:-25px;right: 0px;">
                                            <span class="badge badge-info">session: '{val.vars.attr.session}'</span>
                                        </span>
                                    </v:security.allow>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </f:else>
            </f:if>
        </div>
        <f:render partial="Render/Fields/Attributes/Help" arguments="{val: val}" />
    </div>

</html>
