<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <f:layout name="Default" />

    <f:section name="main">

        <f:form action="render" controller="Form" additionalAttributes="{method: 'post'}"
                name="{form.vars.id}"
                fieldNamePrefix="{form.vars.id}">
            <f:for each="{form.children}" as="val" key="key">
                <f:variable name="{key}" value="{val}"/>
                <f:if condition="{val.vars.block_prefixes.1} == 'text'">
                    <f:form.textfield name="{val.vars.name}" value="{val.vars.value}"/>
                </f:if>
                <f:if condition="{val.vars.block_prefixes.1} == 'hidden'">
                    <f:form.hidden name="{val.vars.name}" value="{val.vars.value}"/>
                </f:if>
                <f:if condition="{val.vars.block_prefixes.1} == 'submit'">
                    <f:form.submit name="{val.vars.name}" value="{val.vars.label}"/>
                </f:if>
            </f:for>
        </f:form>

    </f:section>
</div>
