<!--
errors =
    [
        0 => [
            "label" => ...
            "message => ...
        ],
        ...
        x => [
            "label" => ...
            "message => ...
        ],
    ]
-->
<f:if condition="{errors -> f:count()} > 0">
    <f:then>
        <div class="alert alert-danger" role="alert">
            <f:for each="{errors}" as="error" iteration="i">
                <strong>{error.label -> f:format.raw()}:&nbsp;</strong>
                {error.message}
                <f:if condition="{i.isLast}"><f:else><hr></f:else></f:if>
            </f:for>
        </div>
    </f:then>
</f:if>