<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:if condition="{type} == 'email'">
        <div class="input-group-prepend">
            <div class="input-group-text">@</div>
        </div>
    </f:if>
    <f:if condition="{type} == 'readonly'">
        <div class="input-group-prepend">
            <div class="input-group-text">&check;</div>
        </div>
    </f:if>

</html>